.sp-highlight {
    color: #C91F46 !important;
}

.sp-highlight-background {
    color: #C91F46 !important;
}

.contact-form {
    background-color: white !important;
    border-radius: 0.5rem;
}